@import '../../../config/rem-calc.scss';

:host {

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(0, 0, 0, .3);
        margin-bottom: rem-calc(20);
        border-radius: rem-calc(10);
        padding: rem-calc(10);
        color: #efefef;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            background: rgba(255, 255, 255, .2);
            padding: 10px;
            border-radius: 5px;
            margin: rem-calc(5);
            cursor: pointer;

            &.current {
                background: #ee3f35;
                color: var(--branco);
                cursor: default;
            }

            a {
                font-weight: 700;
                text-decoration: none;
                color: var(--branco);

                :visited {
                    color: #999;
                }
            }

        }
    }
}